*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(128, 128, 128);
}
.container
{
    max-width:900px;
    margin:0 auto;
}
.apply_box
{
    max-width: 600px;
    padding:20px;
    background-color: aliceblue;
    margin:0 auto;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 3px 4px 5px rgba(2, 2, 2, 0.418);

}
.form_container
{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap:20px;
}
.form_control
{
    display:flex;
    flex-direction: column;

}
label
{
font-size: 17px;
margin-bottom: 5px;

}
input,select,textarea{
    padding: 6px 10px;
    border:2px solid black;
    border-radius: 8px;
    font-size: 15px;
}
.button_container
{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}
button{
    border-radius: 8px;
    background-color: red;
    padding:5px 10px;
    border:1px solid yellow;
    transition: 0.5s ease-in;
}
button:hover
{
    background-color: skyblue;
    cursor: pointer;
    transition: 0.5s ease-out;
    border: 2px solid brown;
}
select:hover
{
    outline-color:red;
}
textarea:hover
{
    outline-color:red;
}
input:focus
{
    outline-color:red;
}
.textarea_control
{
    display: flex;
    flex-direction: column;
}
.textarea_control {
    grid-column: 1 / span 2;
  }
  .textarea_control textarea {
    width: 100%;
  }
  @media (max-width: 460px)
  {
    .textarea_control {
        grid-column: 1 / span 1;
      }

  };
  